/* CSS style sheet for styling landing page */

body {
    display: flex;
    flex-direction: column;
    /* padding: 10px 80px; */
    flex: 1;
/* Ensure body elements take up entire screen */
    height: 100vh; 
}

/* Header styles */

.header-strip {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 18px;
}

.header-links li {
    list-style-type: none;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 8px;
    padding-right: 8px;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}

/* Content styles */

.content-section-1 {
    display: flex;
    flex:1 1 0;
    flex-wrap: wrap;
}

.title h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.content-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-text {
    display: flex;
    gap: 8px;
    flex: 1;
}

.image-text div {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.content-section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .content-section-4 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
 }


 .sign-up {
    display: flex;
    flex-direction: row;
 }

 .sign-up button {
    margin: 35px 0px;
 }

 .sign-up-call {
    margin-right: 100px;
    margin-left: 20px;
 }

 /* footer styles */

 .footer-strip {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
 }
